* {
    font-family: Arial, Helvetica, sans-serif;
}

#mainHeader .view {
    position: relative;
    height: 100vh;
}

#mainHeader .view .main_header_text {
    margin-top: 20px;
}

.languages-item {
    font-size: 12px;
}

.project_items {
    font-size: 12px;
}
