* {
	font-family: "Century Gothic";
}

#mainNav .navbar-brand {
	font-size: 30px;
}

#mainNav .nav-item {
	font-size: 26px;
}

#mainNav .nav-item .nav-link:hover {
	color: #0091ff;
}

#mainHeader .view {
    position: relative;
	height: 100vh;
	background-color: #081f6ad5;
}

#mainHeader .view .color_line {
	background-color: #ffffff7c;
}

#mainHeader .view .main_header_text_one {
    font-size: 80px;
}

#mainHeader .view .main_header_text_two {
    font-size: 40px;
}

#mainHeader .view .main_header_button {
	font-size: 30px;
}

#mainHeader .view .change_font_main_button {
	font-family: "Century Gothic";
}

#mainHeader .view .about_me_text {
    font-size: 15px;
}

#technologies {
	position: relative;
	background-color: #ffffff;
}

#technologies .change_technologies_img {
	height: 100px;
	width: 100px;
}

#technologies .change_technologies_text {
	font-size: 2em;
	margin-top: 30px;
}

#portfolio {
	text-align: center;
	background-color: #ffffff;
}

#portfolio .portfolio-items {
	font-size: 0;
}

#portfolio .single-item {
	height: 300px;
	background-size: cover;
	background-position: center;
	display: inline-block;
	width: 100%;
}

#portfolio .single-item .item-mask {
	height: 100%;
	background-color: rgba(17, 30, 41, 0.7);
	padding: 5px;
	opacity: 0;
	transition: all 0.3s;
}

#portfolio .single-item .item-mask:hover {
	opacity: 1;
}

#portfolio .single-item .item-mask-inner {
	border: 1px solid #fff;
	height: 100%;
	position: relative;
}

#portfolio .single-item .item-content {
	font-size: 16px;
	color: #00ff11;
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}

#portfolio .single-item .item-content .portfolio-link {
	color: #27c54f;
	font-size: 1.5em;
	transition: all 0.3s;
}

#portfolio .single-item .item-content .portfolio-link:hover {
	color: #fff;
}

#portfolio-item-1 {
	background-image: url(../img/Project-1.png);
}
#portfolio-item-2 {
	background-image: url(../img/Project-2.png);
}
#portfolio-item-3 {
	background-image: url(../img/Project-3.png);
}
#portfolio-item-4 {
	background-image: url(../img/Project-4.png);
}
#portfolio-item-5 {
	background-image: url(../img/Project-5.png);
}
#portfolio-item-6 {
	background-image: url(../img/Project-6.png);
}
#portfolio-item-7 {
	background-image: url(../img/Project-7.png);
}
#portfolio-item-7 {
	background-image: url(../img/Project-7.png);
}


#webPages {
	text-align: center;
}

#webPages .webPages-item {
	font-size: 0;
}

#webPages-item-1 {
	background-image: url(../img/WebPage-1.png);
}

#webPages-item-2 {
	background-image: url(../img/WebPage-2.png);
}

#contact {
	background-color: #18191a;
}

.change_color_text {
	color: rgba(21, 199, 74, 0.748);
}

.subtext_all {
	font-size: 25px;
	color: rgb(0, 0, 0);
}

.maintext_all {
	color: rgb(0, 0, 0);
}

.social-link {
	display: inline-block;
	color: #fff;
	border: 1px solid #fff;
	height: 80px;
	width: 80px;
	font-size: 2em;
	margin-right: 10px;
	text-align: center;
	line-height: 80px;
}

.social-link:hover {
	color: #27c54f;
	border: 1px solid #27c54f;

}

.change_link_color {
	color: #27c54f;
	text-decoration: none;
}

.change_link_color:hover {
	color: #00ff11;
}

.card-header {
	background-color: #0579d1bf;
}

.scrolling-navbar.scrolled {
	background-color: #18191a;
	transition: background-color 1000ms linear;
}

.scrolling-navbar.scrolled .nav-link {
	color: #27c54f;
}

#contact .contact_text {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
}

#contact .social-icons {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
}